<h3>Guestbook</h3>

<% if (messages.length === 0) { %>
  <p>No messages yet.</p>
<% } %>

<% messages.forEach(entry => { %>

  <div>
    <strong><%= entry.name %></strong>
    <small>(<%= entry.timestamp %>)</small>
    <p><%= entry.message %></p>
  </div>

  <hr>

<% }) %>